@model IEnumerable<ProgettoSettimanaleBackEndU2W2.Models.Reservation>

@{
    ViewData["Title"] = "Reservation List";
}

<h2>Reservation List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateApplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StayFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StayTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateApplied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationID" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
